@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("Mini.css");
@import url("Archive.css");
@import url("Overrides.css");

* {
  font-family: "Noto Sans", sans-serif !important;
}

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  accent-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --highlight: #a7d8ff;
  --clue-highlight: var(--highlight);
  --select: #ffda00;
  --correct: #2860d8;
  --incorrect: #e63333;
  --icon-button: #9f9f9f;

  --rs-btn-primary-bg: black !important;
  --rs-btn-primary-hover-bg: black !important;
  --rs-btn-primary-active-bg: black !important;
}

:root.dark {
  color-scheme: dark;
  --highlight: #90caf93d;
  --select: #90caf986;
  --clue-highlight: #0d47a1;
  --correct: #64b5f6;
}

.lucide {
  box-sizing: content-box;
  display: inline-block;
  overflow: visible;
  height: 1em;
  vertical-align: -0.125em;
  width: 1.25em;
}

.szh-menu-container .lucide {
  margin-right: 5px;
}

.hidden {
  display: none;
}
.invisible {
  visibility: hidden;
}

.block {
  display: block;
  width: 100%;
}

.centered {
  text-align: center;
}

.auto-center {
  margin-inline: auto;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 65vw;
  margin: 0 auto;
  padding: 2rem;
}

canvas {
  z-index: 999999 !important;
}

.rs-modal-backdrop:has(+ .rs-modal-wrapper > .pause-modal) {
  backdrop-filter: blur(8px);
}

.pause-time {
  font-size: 16px;
}

.bottom-icons {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 10px;
}

.bottom-icons svg {
  color: var(--icon-button);
  transition: color 250ms;
  cursor: pointer;
  font-size: 1.3em;
  margin-right: 10px;
}
.bottom-icons svg:last-child {
  margin-right: 0;
}
.bottom-icons svg:hover {
  color: black;
}
.dark .bottom-icons svg:hover {
  color: white;
}

/* Move bottom icons to the top when the keyboard is present */
.keyboard-container:has(.react-simple-keyboard:not(.hidden)) .bottom-icons {
  top: 0;
  height: fit-content;
}

.action-link {
  text-decoration: underline;
  cursor: pointer;
  user-select: none;
}

.rating-container {
  margin-inline: auto;
}
.rating-container .rs-text {
  text-align: center;
  width: 100%;
}

.rating-container:focus,
.rs-rate:focus {
  outline: none;
}

.modal-title {
  transform: translateY(-7px);
}
