@keyframes swing-out-top-bck {
  0% {
    transform: rotateX(0deg);
    transform-origin: top;
    opacity: 1;
  }
  100% {
    transform: rotateX(-100deg);
    transform-origin: top;
    opacity: 0;
  }
}
.swing-out-top-bck {
  animation-delay: 1s;
  animation: swing-out-top-bck 1s cubic-bezier(0.6, -0.28, 0.735, 0.045) both;
}

@keyframes slide-out-bck-center {
  0% {
    scale: 100%;
    opacity: 1;
  }
  100% {
    scale: 0%;
    opacity: 0;
  }
}
.slide-out-bck-center {
  animation-delay: 1s;
  animation: slide-out-bck-center 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.cascades {
  .droppable {
    transition: transform 0.5s;
  }

  .tile {
    border: 1px var(--rs-gray-300) solid;
    border-radius: var(--rs-radius-sm);
    font-size: 20px;
    width: 50px;
    height: 50px;
    aspect-ratio: 1;
    user-select: none;
    background-color: white;

    &.inactive {
      border-color: var(--rs-border-primary);
    }
  }

  .cascade-tile {
    cursor: pointer;

    &.inactive {
      background-color: var(--rs-gray-50);
      opacity: 70%;
      cursor: not-allowed;
    }
  }

  .input-row-btn {
    width: 50px;
    height: 50px;
  }
  .rs-btn-icon {
    aspect-ratio: 1;
    padding: 10px;
  }

  .tile-space.filled {
    color: white;
    background-color: var(--rs-green-400);
    border-color: var(--rs-green-200);
  }

  .pointer {
    cursor: pointer;
  }
}
