.friends-list {
  width: 256px;
  max-height: 211px;
  overflow-y: auto;
}

.friend-list-name {
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left !important;
}

.friend-list-code {
  margin-inline-start: auto !important;
}

.friend-list-remove {
  margin: 0;
}

.friend-code-input {
  width: 256px;
}
