.index {
  .game-cards .rs-card {
    cursor: pointer;
    transition: transform 0.15s;
  }

  .rs-card-body {
    padding-block-start: 12px;
  }

  .game-cards .rs-card:hover {
    transform: translateY(-4px);
  }

  .title-container {
    margin-bottom: 20px;
  }

  .rs-card .rs-image {
    margin-block-start: var(--rs-card-padding);
  }

  .rs-card-group {
    max-width: 540px;
    margin-inline: auto;
  }

  .rs-card {
    text-align: center;
  }

  .account-buttons {
    width: fit-content !important;
  }

  .rs-center:has(.account-buttons) {
    margin-top: 10px;
  }

  a {
    color: unset !important;
  }
}

@media (max-width: 680px) {
  .index {
    .game-cards {
      grid-template-columns: 1fr;

      .rs-card {
        width: fit-content;
        margin-inline: auto;
      }
    }
  }
}
