:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  accent-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --highlight: #a7d8ff;
  --clue-highlight: var(--highlight);
  --select: #ffda00;
  --correct: #2860d8;
  --incorrect: #e63333;
  --icon-button: #b7b7b7;
}

:root.dark {
  color-scheme: dark;
  --highlight: #90caf93d;
  --select: #90caf986;
  --clue-highlight: #0d47a1;
  --correct: #64b5f6;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.dark button {
  border-color: rgb(178, 178, 178);
}

#root {
  width: 65vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h2 {
  margin-bottom: 5px;
}
h4 {
  margin-top: 0;
}

.mini-container {
  /* outline: 1px solid red; */
  display: flex;
  align-items: stretch;
}

.board-container {
  width: 50%;
}

.board {
  width: 100%;
  max-width: 400px;
  user-select: none;
  display: block;
  /* margin: 0 auto; */
  margin-left: auto;
}

.clues {
  margin-left: 18px;
  max-width: 50%;
}
.clues h4 {
  margin-top: 0;
}

.dark .guess,
.dark .label {
  fill: white;
}

.dark .board svg .grid path.lines {
  stroke: rgb(170, 170, 170);
}

.dark .board svg .grid .frame {
  stroke: rgb(187, 187, 187);
}

ol {
  list-style: none;
  text-align: left;
  padding: 0;
  margin-top: 0;
}

ol li {
  margin-block: 5px;
}

.clue-set {
  text-align: left;
  margin-bottom: 0;
}

.highlighted {
  fill: var(--highlight);
}

.selected {
  fill: var(--select);
}

.clue {
  display: flex;
  border-left: transparent solid 10px;
}

.clue-label {
  font-weight: bold;
  padding-inline: 5px;
}

.active-clue {
  border-left: var(--clue-highlight) solid 10px;
}

.selected-clue {
  background-color: var(--clue-highlight);
}

.react-responsive-modal-modal * {
  text-align: center;
  display: block;
}
.react-responsive-modal-modal h2,
.react-responsive-modal-modal h3 {
  margin-top: 0;
}
.react-responsive-modal-modal button {
  margin-inline: auto;
}

canvas {
  z-index: 999999 !important;
}

.hidden {
  display: none;
}

.keyboard-container {
  position: fixed;
  width: 100vw;
  bottom: 0;
  left: 0;
}

.hg-functionBtn {
  background-color: #c8d1d9 !important;
}

.clue-bar {
  background-color: #a7d8ff;
  width: 100vw;
  height: 2.8em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.clue-bar-back {
  padding-inline: 5px;
  margin-right: auto;
  height: 100%;
  display: flex;
  align-items: center;
}
.clue-bar-forward {
  padding-inline: 5px;
  margin-left: auto;
  height: 100%;
  display: flex;
  align-items: center;
}
.clue-bar-text {
  flex: 1;
  text-align: center;
  line-height: 1;
}

.welcome-modal h4 {
  margin-bottom: 5px;
}
.welcome-modal h3 {
  margin-bottom: 10px;
}
.welcome-modal button {
  margin-top: 15px;
}

.timer {
  margin-bottom: 10px;
}

.timer-icon {
  color: var(--icon-button);
  transition: color 250ms;
}

.timer-icon:hover {
  cursor: pointer;
  color: black;
}

.dark .timer-icon:hover {
  color: white;
}

.react-responsive-modal-modal strong {
  margin-bottom: 10px;
}

.dark .react-responsive-modal-modal {
  background-color: rgb(15, 15, 15);
}

.pause-modal-container {
  backdrop-filter: blur(5px);
}

.correct,
.dark .correct {
  fill: var(--correct);
}

.incorrect,
.dark .incorrect {
  fill: var(--incorrect);
}

.toggle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  width: 100%;
  max-width: 400px;
  margin-left: auto;
}

.toggle-container label {
  padding-left: 5px;
}

.react-toggle--checked .react-toggle-track {
  background-color: var(--correct) !important;
}

.react-toggle-thumb {
  border-color: var(--correct) !important;
}

.react-toggle--focus .react-toggle-thumb {
  box-shadow: none !important;
}

.react-toggle:active:not(.react-toggle--disabled) .react-toggle-thumb {
  box-shadow: none !important;
}

.bottom-icons {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 10px;
}

.bottom-icons svg {
  color: var(--icon-button);
  transition: color 250ms;
  cursor: pointer;
  font-size: 1.3em;
  margin-right: 10px;
}
.bottom-icons svg:last-child {
  margin-right: 0;
}
.bottom-icons svg:hover {
  color: black;
}
.dark .bottom-icons svg:hover {
  color: white;
}

.keyboard-container:has(.react-simple-keyboard:not(.hidden)) .bottom-icons {
  top: 0;
  height: fit-content;
}

input[type="text"],
input[type="password"] {
  display: block;
  padding: 3px 2px;
  margin-inline: auto;
  border: #8f8f9d 1px solid;
  border-radius: 4px;

  &:focus {
    outline: 1px black solid;
  }
}

.top-input {
  border-bottom: 0 !important;
  border-end-start-radius: 0 !important;
  border-end-end-radius: 0 !important;
}

.bottom-input {
  border-start-start-radius: 0 !important;
  border-start-end-radius: 0 !important;
}

.action-link {
  text-decoration: underline;
  cursor: pointer;
  user-select: none;
}

.secondary-text {
  color: var(--icon-button);
}

.szh-menu-container svg {
  color: inherit;
  padding-right: 5px;
}

.archive-modal {
  width: 400px;
}

@media (max-width: 900px) {
  .mini-container {
    flex-direction: column;
  }
  .board-container {
    width: 100%;
  }
  .board,
  .toggle-container {
    margin-inline: auto;
  }
  .clues {
    width: 100%;
    max-width: 100%;
    margin-left: 0;
  }
  body:has(.keyboard-open) {
    place-items: unset;
  }
  #root:has(.keyboard-open) {
    width: 100vw;
    margin: 0;
  }
  .keyboard-open .mini-container {
    display: block;
  }
  .keyboard-open .clues {
    display: none;
  }
}
